span([ngClass]='{"BK-nav-fixed": !static}')
    BK-top-nav
    #layoutSidenav
        #layoutSidenav_nav
            BK-side-nav(
                [sidenavStyle]='sidenavStyle',
                [sideNavItems]='sideNavItems',
                [sideNavSections]='sideNavSections'
            )
        #layoutSidenav_content
            main
                .container-fluid
                    ng-content
            BK-footer