<nav class="BK-sidenav accordion" id="sidenavAccordion" [ngClass]="sidenavStyle">
    <div class="BK-sidenav-menu">
        <div class="nav">
            <ng-container *ngFor="let section of sideNavSections"
                ><div class="BK-sidenav-menu-heading" *ngIf="section.text">{{ section.text }}</div>
                <ng-container *ngFor="let item of section.items"><BK-side-nav-item [sideNavItem]="sideNavItems[item]"></BK-side-nav-item></ng-container
            ></ng-container>
        </div>
    </div>
    <div class="BK-sidenav-footer">
        <div class="small">Logged in as:</div>
        <label class="small mb-1" for="inputEmailAddress">{{input}}</label>
    </div>
</nav>
