// Dark theme for sidenav
// Append .BK-sidenav-dark to .BK-sidenav to use

.BK-sidenav-dark {
  background-color: $sidenav-dark-bg;
  color: $sidenav-dark-color;
  .BK-sidenav-menu {
    .BK-sidenav-menu-heading {
      color: $sidenav-dark-heading-color;
    }
    .nav-link {
      color: $sidenav-dark-link-color;
      .BK-nav-link-icon {
        color: $sidenav-dark-icon-color;
      }
      .BK-sidenav-collapse-arrow {
        color: $sidenav-dark-icon-color;
      }
      &:hover {
        color: $sidenav-dark-link-active-color;
      }
      &.active {
        color: $sidenav-dark-link-active-color;
        .BK-nav-link-icon {
          color: $sidenav-dark-link-active-color;
        }
      }
    }
  }
  .BK-sidenav-footer {
    background-color: $sidenav-dark-footer-bg;
  }
}
