// Base styling for the sidenav

.BK-sidenav {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-wrap: nowrap;
    .BK-sidenav-menu {
        flex-grow: 1;
        .nav {
            flex-direction: column;
            flex-wrap: nowrap;
            .BK-sidenav-menu-heading {
                padding: 1.75rem 1rem 0.75rem;
                font-size: 0.75rem;
                font-weight: bold;
                text-transform: uppercase;
            }
            .nav-link {
                display: flex;
                align-items: center;
                padding-top: 0.75rem;
                padding-bottom: 0.75rem;
                position: relative;
                .BK-nav-link-icon {
                    font-size: 0.9rem;
                }
                .BK-sidenav-collapse-arrow {
                    display: inline-block;
                    margin-left: auto;
                    transition: transform 0.15s ease;
                }
                &.collapsed {
                    .BK-sidenav-collapse-arrow {
                        transform: rotate(-90deg);
                    }
                }
            }
            .BK-sidenav-menu-nested {
                margin-left: 1.5rem;
                flex-direction: column;
            }
        }
    }
    
    .BK-sidenav-footer {
        padding: 0.75rem;
    }
}
